.tema_anaranjado{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
        linear-gradient(120deg, #783b23 40%, #49230b 50%),
        radial-gradient(circle, #49210b 10%, transparent 60%);
    background-blend-mode: screen;

    opacity: 0;                             /* PARA TRANSICION DE ENTRADA */
    transition: opacity 0.5s ease-in-out;
}
.oculto{
    opacity: 0;
    visibility: hidden; /* No ocupa espacio en el flujo */
    transition: opacity 0.5s ease, visibility 0s 0s; /* Retira visibility sin retardo */
}
#CUADRO_GRANDE_ADMIN{
    position: absolute;
    top: 5%;
    left: 5%;
    background: radial-gradient(circle, transparent 10%, #453203 70%);
    background-color: #66600a;
    border-radius: 10px;
    width: 90%; 
    height: 90vh; 
    transition: all 0.5s ease; 
}
body.aparecer {
    opacity: 1;
}
.DESCRIPCION{
    position: absolute;
    font-size: 3vh;
    color: white;
}
#ADMIN_DIV{
    position: absolute;
    top: 18%;
    left: 0%;
    width: 100%;
    height: 82%;
    border-radius: 10px;
    background-color: transparent;
    transition: opacity 0.5s ease, visibility 0s 0.3s;
}
#ADMIN_DIV_FACULTADES{
    position: absolute;
    top: 35%;
    left: 3%;
    width: 25%;
    height: 50%;
    background-color: white;
}
#ADMIN_DIV_CARRERAS{
    position: absolute;
    top: 35%;
    left: 31%;
    width: 32%;
    height: 50%;
    background-color: white;
}
#ADMIN_DIV_APTITUDES{
    position: absolute;
    top: 35%;
    left: 66%;
    width: 31%;
    height: 50%;
    background-color: white;
}
.BOTON{
    position: absolute;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-color: transparent;
    cursor: pointer;
    transition: 500ms;
}
#BOTON_REGRESAR_HOME{
    top: 3%;
    left: 1%;
    width: 15vh;
    height: 8vh;
    background-color: #802525;
}
#BOTON_REGRESAR_HOME:hover{
    background-color: #4d0d0d;
}
#ADMIN_BOTON_SIGUIENTE{
    top: 90%;
    left: 90%;
    width: 8%;
    height: 7%;
    font-size: 2vh;
    background-color: #17671d;
    border-radius: 12px;
}
#ADMIN_BOTON_SIGUIENTE:hover{
    background-color: #07480c;
}
#ADMIN_TITULO{
    position: absolute;
    width: 20%;
    left: 33%;
    top: 2%;
    font-size: 10vh;
    font-weight: bold;
    color: white;
}
#ADMIN_DESCRIPCION1{
    width: 50%;
    left: 32%;
    top: 0%;
}
#ADMIN_TEXTO1{
    top: 25%;
    left: 5%;
    width: 20%;
    text-align: center;

}
#ADMIN_TEXTO2{
    top: 25%;
    left: 32%;
    width: 30%;
    text-align: center;
}
#ADMIN_TEXTO3{
    top: 25%;
    left: 66%;
    width: 30%;
    text-align: center;
}
#ADMIN_LINEA_TITULO{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
}
#ADMIN_LINEA_TEXTO1{
    position: absolute;
    top: 30%;
    left: 3%;
    width: 25%;
}
#ADMIN_LINEA_TEXTO2{
    position: absolute;
    top: 30%;
    left: 31%;
    width: 32%;
}
#ADMIN_LINEA_TEXTO3{
    position: absolute;
    top: 30%;
    left: 66%;
    width: 31%;
}

#fileInput{
    position: absolute;
    top: 15%;
    left: 20%;
    color: white;
    font-size: 2vh;
}
#ADMIN_TEXTO_ARCHIVO{
    position: absolute;
    top: 9%;
    left: 25%;
    color: white;
    font-size: 3vh;
}
#TEXTO_PROLOG{
    position: absolute;
    top: 5%;
    left: 92%;
    font-size: 4vh;
    color: white;
}
#STATUS_JSON{
    position: absolute;
    top: 5%;
    left: 89%;
    width: 30px;
    height: 30px;
    background-color: red;
    font-size: 4vh;
    border-radius: 100%;
    color: white;
}


















#BOTON_AGREGAR{
    position: absolute;
    top: 90%;
    left: 78%;
    border-radius: 10px;
    width: 10%;
    height: 8%;
    background-color:#0c660a;
    color: white;
    font-weight: bold;
    transition-duration: 500ms;
}
#BOTON_AGREGAR:hover{
    cursor: pointer;
    background-color:#0b371c ;
}

#BOTON_MODIFICAR{
    position: absolute;
    top: 90%;
    left: 89%;
    border-radius: 10px;
    width: 10%;
    height: 8%;
    background-color:#0a3a66;
    color: white;
    font-weight: bold;
    transition-duration: 500ms;
}
#BOTON_MODIFICAR:hover{
    cursor: pointer;
    background-color:#092b4b ;
}

#BOTON_ELIMINAR{
    position: absolute;
    top: 90%;
    left: 67%;
    border-radius: 10px;
    width: 10%;
    height: 8%;
    background-color:#660a0a;
    color: white;
    font-weight: bold;
    transition-duration: 500ms;
}
#BOTON_ELIMINAR:hover{
    cursor: pointer;
    background-color:#4b0909 ;
}

.BOTON_ACCION_M_G{
    position: absolute;
    top: 90%;
    left: 89%;
    border-radius: 15px;
    width: 10%;
    height: 7%;
    background-color:#0a6633;
    color: white;
    font-weight: bold;
    transition-duration: 500ms;
}
.BOTON_ACCION_M_G:hover{
    cursor: pointer;
    background-color:rgb(6, 50, 20) ;
}

.cuadro_texto{
    position: absolute;
    font-size: 20px;
    color: black;
    border-radius: 10px;
}
#nombre_lugar{
    top: 20%;
    left: 8%;
}
#info_ubicacion{
    top: 20%;
    left: 38%;
}

#multimedia_titulo{
    top: 52%;
    left: 2%;
    width: 25%;
}
#multimedia_url{
    top: 58%;
    left: 2%;
    width: 25%;
}

#info_historia{
    top: 20%;
    left: 70%;
    height: 25%;
    width: 27%;
}

#info_dato_curioso{
    top: 50%;
    left: 70%;
    height: 25%;
    width: 27%;
}

#sitio_lugar{
    top: 30%;
    left: 8%;
}

#ubicacion_lugar{
    top: 30%;
    left: 38%;
}

#titulo_vid{
    top:52%;
    left:30%;
    width: 25%;
}

#link_vid{
    top: 58%;
    left: 30%;
    width: 25%;
}
#filtro_tematico{
    top: 80%;
    left: 70%;
    width: 27%;
}
#ubifiltro{
    top: 37%;
    left: 20%;
    width: 36%;
}

#SELECT_LUGAR{
    position: absolute;
    top: 35%;
    left: 20%;
    width: 35%;
    height: 10%;
    font-size: 20px;
}

#BOTON_ACCION_ATRAS{
    top: 3%;
    left: 10%;
    width: 15vh;
    height: 8vh;
    background-color: #802525;
    transition: 500ms;
}
#BOTON_ACCION_ATRAS:hover{
    cursor: pointer;
    background-color: #4d0d0d;
}


#BOTON_ACCION_AGREGARCAMPO{
    top: 90%;
    left: 75%;
    background-color: #0a6633;
    transition: 500ms;
}
#BOTON_ACCION_AGREGARCAMPO:hover{
    cursor: pointer;
    background-color: rgb(93, 12, 12);
}


#label_nombre{
    position: absolute;
    top: 20.5%;
    left: 2%;
    color: white;
    font-size: 20px;
}

#label_ubicacion{
    position: absolute;
    top: 20.5%;
    left: 30%;
    color: white;
    font-size: 20px;
}

#label_historia{
    position: absolute;
    top: 30.5%;
    left: 62%;
    color: white;
    font-size: 20px;
}

#label_datos{
    position: absolute;
    top: 65%;
    left: 60%;
    color: white;
    font-size: 20px;
}

#label_link_ubicacion{
    position: absolute;
    top: 30.5%;
    left: 28%;
    color: white;
    font-size: 20px;
}

#label_link_sitio{
    position: absolute;
    top: 30.5%;
    left: 1%;
    color: white;
    font-size: 20px;
}
#label_titulo_filtro{
    position: absolute;
    top: 80.5%;
    left: 60%;
    color: white;
    font-size: 20px;
}

#label_imagenes{
    position: absolute;
    top: 45%;
    left: 10%;
    color: white;
    font-size: 25px;
}

#label_videos{
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-size: 25px;
}

#conjunto_imagenes{
    position: absolute;
    top: 64%;
    left: 2%;
    width: 27%;
    height: 27%;
    background-color: white;
    overflow-y: auto;
}

#conjunto_videos{
    position: absolute;
    top: 64%;
    left: 30%;
    width: 27%;
    height: 27%;
    background-color: white;
    overflow-y: auto;
}

#agregar_nueva_img{
    position: absolute;
    top: 92%;
    left: 2%;
    width: 27%;
    height: 6%;
    border-radius: 10px;
    background-color: #0c660a;
    color: white;
    font-size: 22px;
}

#agregar_nuevo_vid{
    position: absolute;
    top: 92%;
    left: 30%;
    width: 27%;
    height: 6%;
    border-radius: 10px;
    background-color: #0c660a;
    color: white;
    font-size: 22px;
}

#label_ubi_img{
    position: absolute;
    top: 37.5%;
    left: 2%;
    color: white;
    font-size: 20px;
}
